.projects-container {
  padding: 15vh 0 0;
  text-align: center;

  .projects-title {
    font-size: 26px;
    margin: 15px 0;
    color: #bb86fc;
  }

  .decoration-line {
    width: 40%;
    height: 3px;
    background-color: #1f1f1f;
    margin: 0 auto 30px;
  }

  .projects-text {
    font-size: 18px;
    color: gray;
  }

  .projects-container {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 2vh;
    gap: 80px;
    color: white;
  }
}

@media screen and (min-width: 750px) {
  .projects-container {
    padding: 10vh 5vw 0;
    .projects-title {
      font-size: 35px;
    }

    .projects-text {
      font-size: 20px;
      line-height: 30px;
    }

    .projects-container {
      margin: 80px 0;
      gap: 100px;
    }
  }
}

@media screen and (min-width: 1250px) {
  .projects-container {
    padding: 15vh 5% 0;

    .projects-text {
      width: 500px;
      margin: 0 auto;
    }
  }
}
