.project {
  display: flex;
  position: relative;
  flex-direction: column;
  text-decoration: none;
  color: white;
  min-height: 350px;
  margin: 0 auto;
  padding: 8px 10px;
  border: 1.8px dashed #bb86fc;

  .image-container {
    height: 55%;

    .image {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: top;
      height: 100%;
    }
  }

  .project-title {
    font-size: 18px;
    color: #03dac6;
  }

  .text {
    font-size: 15px;
    color: white;
  }

  .icons-container {
    position: absolute;
    bottom: 5px;
    right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 15px;

    .icon {
      font-size: 25px;
      color: #bb86fc;
    }
  }
}

@media screen and (min-width: 750px) {
  .project {
    min-height: 550px;

    .project-title {
      font-size: 26px;
    }

    .text {
      margin: 20px 0;
      font-size: 20px;
    }

    .icon {
      bottom: 10px;
      font-size: 35px;
    }

    .image-container {
      height: 60%;

      .image {
        background-position: center;
      }
    }
  }
}

@media screen and (min-width: 1250px) {
  .project {
    min-height: 650px;

    .image-container {
      height: 80%;
    }

    .project-title {
      margin-top: 8px;
      font-size: 30px;
    }

    .text {
      margin: 40px 20px;
      width: 50%;
      align-self: center;
    }

    .icon {
      &:hover {
        color: #03dac6;
      }
    }
  }
}
